  
.list {
    list-style: none;
    text-align: center;
    padding-left:  40px;
    display: flex;
    
  }
  
  .item:not(:last-child) {
    margin-right: 25px;
  }
  
  .link {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: 700;
    
    font-size: 18px;
  }
  
  .link_active {
 
    color: rgb(255, 110, 14);
 
  }
