.input {
   
  background-color: white;
  color: #222;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
padding: 10px;
display: block;
width: 300px;
border: none;
border: 1px solid #ccc;
}

h4 {
  margin: 0;
}

.inputHeader {
  margin:0
}
