.list {
  list-style: none;
  padding-left: 0;
}
.item {
  border: 1px solid #aac;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 500px;
 align-items: center;
  padding: 10px;
}


.button {
  border: none;
  background-color: rgb(59, 59, 59);
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;

}

.button:active {
  background-color: rgb(247, 116, 29);
}

