  
.list {
    list-style: none;
  margin-left: 20px;
    
    padding-left:  40px;
    display: flex;
    
  }
  
  .item:not(:last-child) {
    margin-right: 25px;
  }
  
  .link {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: 700;
    
    font-size: 18px;
  }
  
  .link_active {
 
    color: rgb(255, 110, 14);
 
  }
  .button {
    text-decoration: none;
    border-radius: 10px;
    margin-left: 10px;
  
   
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #d6b353 0%, #f3863d 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .button:hover {
    background-position: right center;
  }
